html.dark-mode {

    --body-background: #1e2228;
    --form-background: #fff;
    --dialog-background: #fff;
    --border-color: #444c56;

    --panel-color: #22272e;
    --panel-color-secondary: #1b2125;

    --alert-color: #ff0e0e;
    --success-color: #60a917;
    --warning-color: #ff9f31;
    --info-color: #428aff;

    --text-color: #adbaa9;
    --text-color-accent: #fff;

    --border-radius: 10px;

    --code-color: #adbaa9;

    .fg-system {
        color: var(--text-color)!important;
    }

    body, .panel, .input, .icon-box {
        background: var(--body-background);
        color: var(--color-text);
    }

    input, select {
        background: transparent!important;
        color: var(--text-color)!important;
    }

    .bd-system, .bd-default, .panel, .panel-title, td, .input, .select {
        border-color: var(--border-color)!important;
    }

    .panel-title, .value {
        color: var(--text-color-accent) !important;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px var(--body-background) inset !important;
    }
    input:-webkit-autofill{
        -webkit-text-fill-color: var(--text-color) !important;
    }

    .light-mode-switch {
        display: inline-block;
    }

    .dark-mode-switch {
        display: none;
    }

    .table {
        th {
            color: var(--text-color-accent)!important;
        }
        td:not(.vm-status) {
            color: var(--text-color)!important;
        }

        &.striped {
            tbody tr:nth-child(even),
            .tbody .tr:nth-child(even) {
                background: var(--panel-color);
            }
        }

        thead {
            border-bottom-color: var(--border-color)!important;
        }

        &.row-border {
            tr + tr, .tr + .tr  {
                border-top: 1px var(--border-color) solid;
            }
        }
    }

    .app-header {
        background: var(--body-background);
        .app-bar {
            background: inherit;
            color: var(--text-color-accent);
        }
    }

    #app-title, .box-value {
        color: var(--text-color-accent)!important;
    }

    .link {
        color: var(--text-color);
        &:hover {
            color: var(--text-color-accent);
        }
    }

    hr {
        background-color: var(--border-color)!important;
    }

    .switch input[type="checkbox"]:checked ~ .check {
        background: var(--panel-color);
        border-color: var(--border-color);
        color: var(--panel-color);
    }

    .icon-box {
        .content {
            color: var(--text-color);
        }
    }

    code {
        color: var(--text-color-accent);
    }

    .panel {
        .panel-title {
            .icon {
                border-right-color: var(--border-color);
            }
        }
    }

    .default-icon-search {
        background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M31.008%2027.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998%201.789-2.096%202.87-4.815%202.87-7.787%200-6.627-5.373-12-12-12s-12%205.373-12%2012%205.373%2012%2012%2012c2.972%200%205.691-1.081%207.787-2.87-0.031%200.677%200.293%201.515%200.998%202.299l6.447%207.58c1.104%201.226%202.907%201.33%204.007%200.23s0.997-2.903-0.23-4.007zM12%2020c-4.418%200-8-3.582-8-8s3.582-8%208-8%208%203.582%208%208-3.582%208-8%208z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A);
    }

    .default-icon-cross {
        background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M31.708%2025.708c-0-0-0-0-0-0l-9.708-9.708%209.708-9.708c0-0%200-0%200-0%200.105-0.105%200.18-0.227%200.229-0.357%200.133-0.356%200.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13%200.048-0.252%200.124-0.357%200.228%200%200-0%200-0%200l-9.708%209.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057%200.229l-4.586%204.586c-0.286%200.286-0.361%200.702-0.229%201.057%200.049%200.13%200.124%200.252%200.229%200.357%200%200%200%200%200%200l9.708%209.708-9.708%209.708c-0%200-0%200-0%200-0.104%200.105-0.18%200.227-0.229%200.357-0.133%200.355-0.057%200.771%200.229%201.057l4.586%204.586c0.286%200.286%200.702%200.361%201.057%200.229%200.13-0.049%200.252-0.124%200.357-0.229%200-0%200-0%200-0l9.708-9.708%209.708%209.708c0%200%200%200%200%200%200.105%200.105%200.227%200.18%200.357%200.229%200.356%200.133%200.771%200.057%201.057-0.229l4.586-4.586c0.286-0.286%200.362-0.702%200.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A);
    }

    .dropdown-toggle {
        border-left-color: var(--border-color)!important;
    }

    .dropdown-toggle::before {
        border-color: var(--text-color-accent);
    }

    .arrow-corner-up {
        background: url("/images/corner-arrow-light.svg") center center;
    }

}