html.dark-mode {

    --body-background: #1e2228;
    --form-background: #fff;
    --dialog-background: #fff;
    --border-color: #444c56;

    --panel-color: #22272e;
    --panel-color-secondary: #1b2125;

    --alert-color: #ff0e0e;
    --success-color: #60a917;
    --warning-color: #ff9f31;
    --info-color: #428aff;

    --text-color: #adbaa9;
    --text-color-accent: #fff;

    --border-radius: 10px;

    --code-color: #adbaa9;

    .fg-system {
        color: var(--text-color)!important;
    }

    body, .panel, .input, .icon-box {
        background: var(--body-background);
        color: var(--color-text);
    }

    input, select {
        background: transparent!important;
        color: var(--text-color)!important;
    }

    .bd-system, .bd-default, .panel, .panel-title, td, .input, .select {
        border-color: var(--border-color)!important;
    }

    .panel-title, .value {
        color: var(--text-color-accent) !important;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px var(--body-background) inset !important;
    }
    input:-webkit-autofill{
        -webkit-text-fill-color: var(--text-color) !important;
    }

    .light-mode-switch {
        display: inline-block;
    }

    .dark-mode-switch {
        display: none;
    }

    .table {
        th {
            color: var(--text-color-accent)!important;
        }
        td:not(.vm-status) {
            color: var(--text-color)!important;
        }

        &.striped {
            tbody tr:nth-child(even),
            .tbody .tr:nth-child(even) {
                background: var(--panel-color);
            }
        }

        thead {
            border-bottom-color: var(--border-color)!important;
        }

        &.row-border {
            tr + tr, .tr + .tr  {
                border-top: 1px var(--border-color) solid;
            }
        }
    }

    .app-header {
        background: var(--body-background);
        .app-bar {
            background: inherit;
            color: var(--text-color-accent);
        }
    }

    #app-title, .box-value {
        color: var(--text-color-accent)!important;
    }

    .link {
        color: var(--text-color);
        &:hover {
            color: var(--text-color-accent);
        }
    }

    hr {
        background-color: var(--border-color)!important;
    }

    .switch input[type="checkbox"]:checked ~ .check {
        background: var(--panel-color);
        border-color: var(--border-color);
        color: var(--panel-color);
    }

    .icon-box {
        .content {
            color: var(--text-color);
        }
    }

    code {
        color: var(--text-color-accent);
    }

    .panel {
        .panel-title {
            .icon {
                border-right-color: var(--border-color);
            }
        }
    }
}