:root {
  --border-radius: 10px;
  --button-border-radius: 6px;
  --button-snall-border-radius: 4px;
  --button-mini-border-radius: 4px;
  --body-background: #fff;
  --form-background: #fff;
  --dialog-background: #fff;
  --border-color: #d9d9d9;
  --primary-background: #fef5e6;
  --secondary-background: #f59f00;
  --alert-color: #ff0e0e;
  --success-color: #60a917;
  --warning-color: #ff9f31;
  --info-color: #428aff;
  --text-color: #000;
  --text-color-light: #fff;
}
.fg-yel {
  color: #ffd640;
}
.bd-system {
  border-color: var(--border-color);
}
body {
  padding-top: 72px;
}
.aptos-logo {
  height: 1.2rem;
  line-height: 1;
}
.aptos-logo img {
  height: 100%;
}
header {
  position: fixed!important;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}
header nav {
  position: relative;
}
#app-title {
  position: relative;
}
@media screen and (min-width: 800px) {
  #app-title {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 50%;
    margin-left: -160px;
  }
}
.top-row {
  margin: 0 -16px;
}
.panel .panel-title {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.box-value {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  white-space: nowrap;
}
.table {
  font-family: monospace;
}
.scrollable-container {
  overflow-x: auto;
}
.scrollable-container .scrollable-table {
  width: auto!important;
  min-width: 100%;
}
.scrollable-container .scrollable-table td:not(.vm-status) {
  white-space: nowrap!important;
}
.vm-status {
  color: var(--alert-color) !important;
}
.link {
  color: #3f3f3f;
  text-decoration: none;
}
.link:hover {
  color: #000000;
}
.radius {
  border-radius: 10px!important;
  overflow: hidden;
}
.light-mode-switch,
.dark-mode-switch {
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
}
.light-mode-switch {
  display: none;
}
.dark-mode-switch {
  display: inline-block;
}
.app-header {
  background: var(--body-background);
}
.app-header .app-bar {
  background: inherit;
  color: var(--text-color);
}
.value {
  color: var(--color-accent);
}
.long-value {
  overflow-wrap: break-word;
}
.panel-title-switch {
  height: 20px;
  width: 48px;
}
.info-table {
  display: block;
}
.info-table tbody {
  display: block;
}
.info-table tr {
  display: block;
  max-width: 100%;
}
.info-table td {
  display: block;
  overflow-wrap: break-word;
  max-width: 100%;
}
.info-table td:nth-child(1) {
  padding-bottom: 0;
}
.info-table td:nth-child(2) {
  padding-top: 0;
}
.info-table td:nth-child(1) {
  width: 235px;
  font-weight: 600;
}
.votes-list {
  counter-reset: item;
  list-style-type: none;
  margin: 0;
}
.votes-list li {
  display: block;
}
.votes-list li:before {
  content: counter(item, decimal-leading-zero) ".";
  counter-increment: item;
  font-size: 10px;
}
@media screen and (min-width: 800px) {
  .info-table {
    display: table;
  }
  .info-table tbody {
    display: table-header-group;
  }
  .info-table tr {
    display: table-row;
  }
  .info-table td {
    display: table-cell;
    padding: 0.652rem !important;
  }
}
html.dark-mode {
  --body-background: #1e2228;
  --color-text: #adbaa9;
  --color-text-inverse: #24292e;
  --color-border: #444c56;
  --color-panel: #22272e;
  --color-panel-second: #1b2125;
  --color-panel-title: #ff8330;
  --color-accent: #fff;
  --color-neutral: #b6b6b6;
  --color-success: #7dc37b;
  --color-warning: #ff8330;
  --color-alert: #ea0b0b;
  --color-info: rgba(27, 161, 226, 0.56);
  --color-info2: #4db5ff;
  --color-yellow: #ffdb10;
  --color-white: #fff;
  --color-gray: #b6b6b6;
  --color-active: #4db5ff;
  --color-stop: #24292e;
  --color-inactive: #4b4b4b;
}
html.dark-mode body,
html.dark-mode .panel,
html.dark-mode .input,
html.dark-mode .icon-box {
  background: var(--body-background);
  color: var(--color-text);
}
html.dark-mode input,
html.dark-mode select {
  background: transparent!important;
  color: var(--color-text) !important;
}
html.dark-mode .bd-system,
html.dark-mode .bd-default,
html.dark-mode .panel,
html.dark-mode .panel-title,
html.dark-mode td,
html.dark-mode .input,
html.dark-mode .select {
  border-color: var(--color-border) !important;
}
html.dark-mode .panel-title,
html.dark-mode .value {
  color: var(--color-accent) !important;
}
html.dark-mode input:-webkit-autofill,
html.dark-mode input:-webkit-autofill:hover,
html.dark-mode input:-webkit-autofill:focus,
html.dark-mode input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--body-background) inset !important;
}
html.dark-mode input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-text) !important;
}
html.dark-mode .light-mode-switch {
  display: inline-block;
}
html.dark-mode .dark-mode-switch {
  display: none;
}
html.dark-mode .table th {
  color: var(--color-accent) !important;
}
html.dark-mode .table td:not(.vm-status) {
  color: var(--color-text) !important;
}
html.dark-mode .table.striped tbody tr:nth-child(even),
html.dark-mode .table.striped .tbody .tr:nth-child(even) {
  background: var(--color-panel);
}
html.dark-mode .table thead {
  border-bottom-color: var(--color-border) !important;
}
html.dark-mode .table.row-border tr + tr,
html.dark-mode .table.row-border .tr + .tr {
  border-top: 1px var(--color-border) solid;
}
html.dark-mode .app-header {
  background: var(--body-background);
}
html.dark-mode .app-header .app-bar {
  background: inherit;
  color: var(--color-accent);
}
html.dark-mode #app-title,
html.dark-mode .box-value {
  color: var(--color-accent) !important;
}
html.dark-mode .link {
  color: var(--color-text);
}
html.dark-mode .link:hover {
  color: var(--color-accent);
}
html.dark-mode hr {
  background-color: var(--color-border) !important;
}
html.dark-mode .vm-status {
  color: var(--color-alert) !important;
}
html.dark-mode .switch input[type="checkbox"]:checked ~ .check {
  background: var(--color-panel);
  border-color: var(--color-border);
  color: var(--color-panel);
}
/*# sourceMappingURL=index.css.map */