:root {
  --body-background: #fff;
  --form-background: #fff;
  --dialog-background: #fff;
  --border-color: #d9d9d9;
  --alert-color: #ff0e0e;
  --success-color: #60a917;
  --warning-color: #ff9f31;
  --info-color: #428aff;
  --text-color: #000;
  --text-color-light: #fff;
  --border-radius: 10px;
  --code-color: #22272e;
}
.fg-system {
  color: var(--text-color) !important;
}
.fg-yel {
  color: #ffd640;
}
.bd-system {
  border-color: var(--border-color);
}
body {
  padding-top: 72px;
}
.aptos-logo {
  height: 1.2rem;
  line-height: 1;
}
.aptos-logo img {
  height: 100%;
}
header {
  position: fixed!important;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}
header nav {
  position: relative;
}
#app-title {
  position: relative;
}
@media screen and (min-width: 800px) {
  #app-title {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 50%;
    margin-left: -160px;
  }
}
.top-row {
  margin: 0 -16px;
}
.panel .panel-title {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.box-value {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  white-space: nowrap;
}
.table {
  font-family: monospace;
}
.scrollable-container {
  overflow-x: auto;
}
.scrollable-container .scrollable-table {
  width: auto!important;
  min-width: 100%;
}
.scrollable-container .scrollable-table td:not(.vm-status) {
  white-space: nowrap!important;
}
.vm-status.fail {
  color: var(--alert-color) !important;
}
.link {
  color: #3f3f3f;
  text-decoration: none;
}
.link:hover {
  color: #000000;
}
.radius {
  border-radius: 10px!important;
  overflow: hidden;
}
.light-mode-switch,
.dark-mode-switch {
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
}
.light-mode-switch {
  display: none;
}
.dark-mode-switch {
  display: inline-block;
}
.app-header {
  background: var(--body-background);
}
.app-header .app-bar {
  background: inherit;
  color: var(--text-color);
}
.value {
  color: var(--color-accent);
}
.long-value {
  overflow-wrap: break-word;
}
.panel-title-switch {
  height: 20px;
  width: 48px;
}
.info-table {
  display: block;
}
.info-table tbody {
  display: block;
}
.info-table tr {
  display: block;
  max-width: 100%;
}
.info-table td {
  display: block;
  overflow-wrap: break-word;
  max-width: 100%;
}
.info-table td:nth-child(1) {
  padding-bottom: 0;
}
.info-table td:nth-child(2) {
  padding-top: 0;
}
.info-table td:nth-child(1) {
  width: 235px;
  font-weight: 600;
}
.votes-list {
  counter-reset: item;
  list-style-type: none;
  margin: 0;
}
.votes-list li {
  display: block;
}
.votes-list li:before {
  content: counter(item, decimal-leading-zero) ".";
  counter-increment: item;
  font-size: 10px;
}
code {
  color: var(--code-color);
  font-size: 14px;
}
@media screen and (min-width: 800px) {
  .info-table {
    display: table;
  }
  .info-table tbody {
    display: table-header-group;
  }
  .info-table tr {
    display: table-row;
  }
  .info-table td {
    display: table-cell;
    padding: 0.652rem !important;
  }
}
html.dark-mode {
  --body-background: #1e2228;
  --form-background: #fff;
  --dialog-background: #fff;
  --border-color: #444c56;
  --panel-color: #22272e;
  --panel-color-secondary: #1b2125;
  --alert-color: #ff0e0e;
  --success-color: #60a917;
  --warning-color: #ff9f31;
  --info-color: #428aff;
  --text-color: #adbaa9;
  --text-color-accent: #fff;
  --border-radius: 10px;
  --code-color: #adbaa9;
}
html.dark-mode .fg-system {
  color: var(--text-color) !important;
}
html.dark-mode body,
html.dark-mode .panel,
html.dark-mode .input,
html.dark-mode .icon-box {
  background: var(--body-background);
  color: var(--color-text);
}
html.dark-mode input,
html.dark-mode select {
  background: transparent!important;
  color: var(--text-color) !important;
}
html.dark-mode .bd-system,
html.dark-mode .bd-default,
html.dark-mode .panel,
html.dark-mode .panel-title,
html.dark-mode td,
html.dark-mode .input,
html.dark-mode .select {
  border-color: var(--border-color) !important;
}
html.dark-mode .panel-title,
html.dark-mode .value {
  color: var(--text-color-accent) !important;
}
html.dark-mode input:-webkit-autofill,
html.dark-mode input:-webkit-autofill:hover,
html.dark-mode input:-webkit-autofill:focus,
html.dark-mode input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--body-background) inset !important;
}
html.dark-mode input:-webkit-autofill {
  -webkit-text-fill-color: var(--text-color) !important;
}
html.dark-mode .light-mode-switch {
  display: inline-block;
}
html.dark-mode .dark-mode-switch {
  display: none;
}
html.dark-mode .table th {
  color: var(--text-color-accent) !important;
}
html.dark-mode .table td:not(.vm-status) {
  color: var(--text-color) !important;
}
html.dark-mode .table.striped tbody tr:nth-child(even),
html.dark-mode .table.striped .tbody .tr:nth-child(even) {
  background: var(--panel-color);
}
html.dark-mode .table thead {
  border-bottom-color: var(--border-color) !important;
}
html.dark-mode .table.row-border tr + tr,
html.dark-mode .table.row-border .tr + .tr {
  border-top: 1px var(--border-color) solid;
}
html.dark-mode .app-header {
  background: var(--body-background);
}
html.dark-mode .app-header .app-bar {
  background: inherit;
  color: var(--text-color-accent);
}
html.dark-mode #app-title,
html.dark-mode .box-value {
  color: var(--text-color-accent) !important;
}
html.dark-mode .link {
  color: var(--text-color);
}
html.dark-mode .link:hover {
  color: var(--text-color-accent);
}
html.dark-mode hr {
  background-color: var(--border-color) !important;
}
html.dark-mode .switch input[type="checkbox"]:checked ~ .check {
  background: var(--panel-color);
  border-color: var(--border-color);
  color: var(--panel-color);
}
html.dark-mode .icon-box .content {
  color: var(--text-color);
}
html.dark-mode code {
  color: var(--text-color-accent);
}
html.dark-mode .panel .panel-title .icon {
  border-right-color: var(--border-color);
}
html.dark-mode .default-icon-search {
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M31.008%2027.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998%201.789-2.096%202.87-4.815%202.87-7.787%200-6.627-5.373-12-12-12s-12%205.373-12%2012%205.373%2012%2012%2012c2.972%200%205.691-1.081%207.787-2.87-0.031%200.677%200.293%201.515%200.998%202.299l6.447%207.58c1.104%201.226%202.907%201.33%204.007%200.23s0.997-2.903-0.23-4.007zM12%2020c-4.418%200-8-3.582-8-8s3.582-8%208-8%208%203.582%208%208-3.582%208-8%208z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A);
}
html.dark-mode .default-icon-cross {
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M31.708%2025.708c-0-0-0-0-0-0l-9.708-9.708%209.708-9.708c0-0%200-0%200-0%200.105-0.105%200.18-0.227%200.229-0.357%200.133-0.356%200.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13%200.048-0.252%200.124-0.357%200.228%200%200-0%200-0%200l-9.708%209.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057%200.229l-4.586%204.586c-0.286%200.286-0.361%200.702-0.229%201.057%200.049%200.13%200.124%200.252%200.229%200.357%200%200%200%200%200%200l9.708%209.708-9.708%209.708c-0%200-0%200-0%200-0.104%200.105-0.18%200.227-0.229%200.357-0.133%200.355-0.057%200.771%200.229%201.057l4.586%204.586c0.286%200.286%200.702%200.361%201.057%200.229%200.13-0.049%200.252-0.124%200.357-0.229%200-0%200-0%200-0l9.708-9.708%209.708%209.708c0%200%200%200%200%200%200.105%200.105%200.227%200.18%200.357%200.229%200.356%200.133%200.771%200.057%201.057-0.229l4.586-4.586c0.286-0.286%200.362-0.702%200.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A);
}
/*# sourceMappingURL=index.css.map */