:root {
    --border-radius: 10px;
    --button-border-radius: 6px;
    --button-snall-border-radius: 4px;
    --button-mini-border-radius: 4px;
    --body-background: #fff;
    --form-background: #fff;
    --dialog-background: #fff;
    --border-color: #d9d9d9;
    --primary-background: #fef5e6;
    --secondary-background: #f59f00;
    --alert-color: #ff0e0e;
    --success-color: #60a917;
    --warning-color: #ff9f31;
    --info-color: #428aff;
    --text-color: #000;
    --text-color-light: #fff;
}

.fg-yel {
    color: #ffd640;
}

.bd-system {
    border-color: var(--border-color);
}

body {
    padding-top: 72px;
}

.aptos-logo {
    height: 1.2rem;
    line-height: 1;

    img {
        height: 100%;
    }
}

header {
    position: fixed!important;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;

    nav {
        position: relative;
    }
}

#app-title {
    position: relative;
}

@media screen and (min-width: 800px)  {
    #app-title {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 50%;
        margin-left: -160px;
    }
}

.top-row {
    margin: 0 -16px;
}

.panel {
    .panel-title {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }
}

.box-value {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    white-space: nowrap;
}

.table {
    font-family: monospace;
}

.scrollable-container {
    overflow-x: auto;

    .scrollable-table {
        width: auto!important;
        min-width: 100%;

        td {
            white-space: nowrap!important;
        }
    }
}

.link {
    color: #3f3f3f;
    text-decoration: none;
    &:hover {
        color: #000000;
    }
}

.radius {
    border-radius: 10px!important;
    overflow: hidden;
}