footer.container-fluid.mt-10
    div.container.border-top.bd-system.pt-10.pb-10
        div.text-center.text-small
            span Copyright 2022 by
            a.ml-1.mr-1.fg-cyan.no-decor.text-bold(href="https://pimenov.com.ua")
                span Serhii Pimenov.
            span From Ukraine to Aptos Community