div(data-role="panel" data-title-caption="GAS USAGE")
    div.scrollable-container
        table.table.striped.subcompact.scrollable-table
            thead
                tr
                    th FUNCTION
                    th.text-right MIN
                    th.text-right AVG
                    th.text-right MAX
            tbody#gas-usage