doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        link(rel="stylesheet", href="vendor/metro4/css/metro-all.css")
        link(rel="stylesheet", href="css/index.css")

        title #{appName}
    body.m4-cloak
        include header
        include ledger
        include transactions

        section.container-fluid.mt-4.mb-4
            div.container
                div.row
                    div.cell-lg-6
                        include gas-usage
                    div.cell-lg-6
                        include operations-count

        include latest-transactions

        include footer

        include scripts

        script(type="module", src="js/index.js")