section.container-fluid
    div.container
        div
        div.radius(data-role="panel" data-title-caption="LATEST TRANSACTIONS (<span id='latest-transactions-counter'>0</span>) <div class='ml-auto d-flex flex-row flex-align-center'><span class='reduce-1 mr-1'>RELOAD</span><input id='reload_last_transactions' type='checkbox' checked data-role='switch' data-show-on-off='true' data-on='yes' data-off='no' class='panel-title-switch'></div>" data-cls-title-caption="d-flex flex-row flex-nowrap")
            div.scrollable-container
                table.table.striped.row-border.subcompact.scrollable-table
                    thead
                        tr
                            th(style="width: 20px") St
                            th(style="width: 20px") Ty
                            th(style="width: 100px").text-center Version
                            th(style="width: 200px") Hash
                            th(style="width: 200px") Sender/Proposer
                            th Function
                            th.text-right Amount
                            th.text-right
                                span.mif-gas-station
                            th(style="width: 100px") Date

                    tbody#latest-transactions

