section.container-fluid
    div.container
        div.row
            div.cell-sm-6.cell-lg-6.cell-xl-3
                div.icon-box.border.bd-system.radius
                    div.icon.bg-cyan.fg-white
                        span.mif-link
                    div.content.p-3
                        div.text-upper LEDGER
                        div.text-upper CHAIN ID
                        div.box-value
                            div#ledger-chain-id

            div.cell-sm-6.cell-lg-6.cell-xl-3
                div.icon-box.border.bd-system.radius
                    div.icon.bg-orange.fg-white
                        span.mif-alarm
                    div.content.p-3
                        div.text-upper LEDGER
                        div.text-upper EPOCH
                        div.box-value
                            div#ledger-epoch

            div.cell-sm-6.cell-lg-6.cell-xl-3
                div.icon-box.border.bd-system.radius
                    div.icon.bg-teal.fg-white
                        span.mif-versions
                    div.content.p-3
                        div.text-upper LEDGER
                        div.text-upper VERSION
                        div.box-value
                            div#ledger-version


            div.cell-sm-6.cell-lg-6.cell-xl-3
                div.icon-box.border.bd-system.radius
                    div.icon.bg-violet.fg-white
                        span.mif-calendar
                    div.content.p-3
                        div.text-upper LEDGER
                        div.text-upper TIMESTAMP
                        div.box-value
                            div#ledger-timestamp

