div.radius(data-role="panel" data-title-caption="OPERATIONS COUNT")
    div.scrollable-container
        table.table.striped.subcompact.scrollable-table
            thead
                tr
                    th FUNCTION
                    th.text-right COUNT
            tbody#operations-count