script.
    globalThis.config = !{clientConfig}
    globalThis.dateFormat = !{dateFormat}

script(src="/js/components/global.js")
script(src="/js/components/metro.conf.js")
script(src="/vendor/metro4/js/metro.js")
script(src="/js/components/clipboard.js")
script(src="/js/components/theme.js")

