section.container-fluid
    div.container.mb-4
        form(data-role="validator" action="javascript:" onsubmit="submitSearchForm(this)")
            input.input-large.radius(name="search_val" type="text" data-role="input" data-search-button="true" placeholder="Enter address, transaction hash, or version number")
