doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        link(rel="stylesheet", href="/vendor/metro4/css/metro-all.css")
        link(rel="stylesheet", href="/css/index.css")

        title #{appName}

        script.
            globalThis.transaction = !{transaction}

    body.m4-cloak
        include header

        section.container-fluid
            div.container
                h1 Transaction Info
                hr.thin
                div.row.h3
                    div.cell-md-6
                        div
                            span Version:
                            span.value.ml-2#tr_version
                    div.cell-md-6
                        div.text-left-fs.text-right-md
                            span Time:
                            span.value.ml-2#tr_timestamp

                div

        include footer

        include scripts

        script(type="module", src="/js/transaction-info.js")