doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        link(rel="stylesheet", href="/vendor/metro4/css/metro-all.css")
        link(rel="stylesheet", href="/css/index.css")

        title #{appName}

        script.
            globalThis.transaction = !{transaction}

    body.m4-cloak
        include header

        section.container-fluid
            div.container
                h1.row
                   span.text-muted Transaction:
                   span.ml-2.value#tr_number
                   span.ml-auto#tr_status

                hr.thin
                h2.fg-system.text-light.long-value.text-center#transaction-hash
                hr.thin

                div.mt-10#general-wrapper(data-role="panel" data-title-caption="General" data-title-icon="<span class='mif-info'>" data-cls-title-caption="text-upper text-left")
                    table.table.striped.info-table
                        tbody
                            tr
                                td TYPE
                                td
                                    div.value#tr_type
                            tr
                                td TIMESTAMP
                                td
                                    div.value.long-value#tr_timestamp
                            tr
                                td HASH
                                td
                                    div.value.long-value#tr_hash
                            tr
                                td STATE HASH
                                td
                                    div.value.long-value#tr_state_hash
                            tr
                                td EVENT HASH
                                td
                                    div.value.long-value#tr_event_hash
                            tr
                                td ACCUMULATOR HASH
                                td
                                    div.value.long-value#tr_accumulator_hash
                            tr
                                td GAS USED
                                td
                                    div.value#tr_gas_used
                            tr
                                td VM STATUS
                                td
                                    div.value.vm-status#tr_vm_status

                div#payload-wrapper.mt-10(data-role="panel" data-title-caption="Payload" data-title-icon="<span class='mif-attachment'>" data-cls-title-caption="text-upper text-left")
                    div
                        div#payload


                div#metadata-wrapper.mt-10(data-role="panel" data-title-caption="Metadata" data-title-icon="<span class='mif-server'>" data-cls-title-caption="text-upper text-left")
                    table.table.striped.info-table
                        tbody
                            tr
                                td ROUND
                                td
                                    div.value#meta_round
                            tr
                                td ID
                                td
                                    div.value#meta_id
                            tr
                                td TIMESTAMP
                                td
                                    div.value#meta_timestamp
                            tr
                                td PROPOSER
                                td
                                    div.value#meta_proposer
                            tr
                                td BLOCK VOTES
                                td
                                    div.value#meta_votes

                div#userdata-wrapper.mt-10(data-role="panel" data-title-caption="Userdata" data-title-icon="<span class='mif-server'>" data-cls-title-caption="text-upper text-left")
                    table.table.striped.info-table
                        tbody
                            tr
                                td SEQUENCE NUMBER
                                td
                                    div.value#user_sequence_number
                            tr
                                td EXPIRATION TIMESTAMP
                                td
                                    div.value.long-value#user_expiration_timestamp
                            tr
                                td SENDER
                                td
                                    div.value.long-value#user_sender
                            tr
                                td GAS CURRENCY
                                td
                                    div.value#user_gas_currency XXX
                            tr
                                td MAX GAS AMOUNT
                                td
                                    div.value#user_max_gas_amount
                            tr
                                td GAS UNIT PRICE
                                td
                                    div.value#user_gas_unit_price
                            tr
                                td GAS TRANS PRICE
                                td
                                    div.value#user_gas_trans_price
                            tr
                                td SIGNATURE PUBLIC KEY
                                td
                                    div.value.long-value#user_signature_public_key
                            tr
                                td SIGNATURE VALUE
                                td
                                    div.value.long-value#user_signature_value
                            tr
                                td SIGNATURE TYPE
                                td
                                    div.value#user_signature_type



        include footer

        include scripts

        script(type="module", src="/js/transaction-info.js")