section.container-fluid
    div.container
        div.row
            div.cell-sm-6.cell-lg-6.cell-xl-3
                div.icon-box.border.bd-system.radius
                    div.icon.bg-grayMouse.fg-white
                        span.mif-database
                    div.content.p-3
                        div.text-upper BLOCK METADATA
                        div.text-upper TRANSACTIONS
                        div.box-value
                            div#block_metadata_transaction

            div.cell-sm-6.cell-lg-6.cell-xl-3
                div.icon-box.border.bd-system.radius
                    div.icon.bg-lightMauve.fg-white
                        span.mif-users
                    div.content.p-3
                        div.text-upper USER
                        div.text-upper TRANSACTIONS
                        div.box-value
                            div#user_transaction

            div.cell-sm-6.cell-lg-6.cell-xl-3
                div.icon-box.border.bd-system.radius
                    div.icon.bg-green.fg-white
                        span.mif-layers
                    div.content.p-3
                        div.text-upper SUCCESS
                        div.text-upper TRANSACTIONS
                        div.box-value
                            div#success_transactions


            div.cell-sm-6.cell-lg-6.cell-xl-3
                div.icon-box.border.bd-system.radius
                    div.icon.bg-red.fg-white
                        span.mif-layers
                    div.content.p-3
                        div.text-upper FAILED
                        div.text-upper TRANSACTIONS
                        div.box-value
                            div#failed_transactions

