doctype html
html(lang="en").scrollbar-type-1.sb-darkCyan
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        link(rel="stylesheet", href="/vendor/metro4/css/metro-all.css")
        link(rel="stylesheet", href="/css/index.css")

        title #{appName}

        script.
            globalThis.transaction = !{transaction}

    body.m4-cloak
        include header
        include search

        section.container-fluid
            div.container

                h1.text-center.fg-system Transaction Info
                h2.fg-system.text-light.value.long-value.text-center#transaction-hash
                hr.thin
                div.h3.row.mt-10
                    span.text-muted Version:
                    span.ml-2.value#tr_number
                    span.ml-auto#tr_status

                div.mt-5#general-wrapper(data-role="panel" data-title-caption="General" data-title-icon="<span class='mif-info'>" data-cls-title-caption="text-upper text-left")
                    table.table.striped.info-table
                        tbody
                            tr
                                td TYPE
                                td
                                    div.value#tr_type
                            tr
                                td TIMESTAMP
                                td
                                    div.value.long-value#tr_timestamp
                            tr
                                td HASH
                                td
                                    div.value.long-value#tr_hash
                            tr
                                td STATE HASH
                                td
                                    div.value.long-value#tr_state_hash
                            tr
                                td EVENT HASH
                                td
                                    div.value.long-value#tr_event_hash
                            tr
                                td ACCUMULATOR HASH
                                td
                                    div.value.long-value#tr_accumulator_hash
                            tr
                                td GAS USED
                                td
                                    div.value#tr_gas_used
                            tr
                                td VM STATUS
                                td
                                    div.vm-status#tr_vm_status

                div#payload-wrapper.mt-5(data-role="panel" data-collapsible="true" data-collapsed="true" data-title-caption="Payload" data-title-icon="<span class='mif-attachment'>" data-cls-title-caption="text-upper text-left")
                    div
                        div#payload


                div#metadata-wrapper.mt-5(data-role="panel" data-collapsible="true" data-collapsed="true" data-title-caption="Metadata" data-title-icon="<span class='mif-server'>" data-cls-title-caption="text-upper text-left")
                    table.table.striped.info-table
                        tbody
                            tr
                                td ROUND
                                td
                                    div.value#meta_round
                            tr
                                td ID
                                td
                                    div.value#meta_id
                            tr
                                td TIMESTAMP
                                td
                                    div.value#meta_timestamp
                            tr
                                td PROPOSER
                                td
                                    div.value#meta_proposer
                            tr
                                td(colspan=2) PREVIOUS BLOCK VOTES:
                            tr
                                td(colspan=2)
                                    div.value.text-light#meta_votes

                div#userdata-wrapper.mt-5(data-role="panel" data-collapsible="true" data-collapsed="true" data-title-caption="Userdata" data-title-icon="<span class='mif-server'>" data-cls-title-caption="text-upper text-left")
                    table.table.striped.info-table
                        tbody
                            tr
                                td SEQUENCE NUMBER
                                td
                                    div.value#user_sequence_number
                            tr
                                td EXPIRATION TIMESTAMP
                                td
                                    div.value.long-value#user_expiration_timestamp
                            tr
                                td SENDER
                                td
                                    div.value.long-value#user_sender
                            tr
                                td GAS CURRENCY
                                td
                                    div.value#user_gas_currency XXX
                            tr
                                td MAX GAS AMOUNT
                                td
                                    div.value#user_max_gas_amount
                            tr
                                td GAS UNIT PRICE
                                td
                                    div.value#user_gas_unit_price
                            tr
                                td GAS TRANS PRICE
                                td
                                    div.value#user_gas_trans_price
                            tr
                                td SIGNATURE PUBLIC KEY
                                td
                                    div.value.long-value#user_signature_public_key
                            tr
                                td SIGNATURE VALUE
                                td
                                    div.value.long-value#user_signature_value
                            tr
                                td SIGNATURE TYPE
                                td
                                    div.value#user_signature_type

                div#changes-wrapper.mt-5(data-role="panel" data-collapsible="true" data-collapsed="true" data-title-caption="WRITE SET CHANGES" data-title-icon="<span class='mif-pencil'>" data-cls-title-caption="text-upper text-left")
                    div#changes-list

                div#events-wrapper.mt-5(data-role="panel" data-collapsible="true" data-collapsed="true" data-title-caption="EVENTS" data-title-icon="<span class='mif-event-available'>" data-cls-title-caption="text-upper text-left")
                    table.table.striped.info-table
                        tbody#events-list


        include footer

        include scripts

        script(type="module", src="/js/transaction-info.js")